@import '../../../App.scss';

.form__log {
  background: $red;
  border: 10px solid $yellow;
  border-radius: 0.25rem;
  padding: 6px 10px 10px;
  transform: scale(0.9);

  .Col {
    padding: 0 10px;
  }
  
  Button {
		background: $grey-25;
		border: none;
    color: $red;
    font-size: 17px;
    Width: 100%;
  }
}