@import '../../../App.scss';

.form__reg {
	background: $red;
	border: 10px solid $yellow;
	color: $yellow;
	transform: scale(0.9);

	input[type=checkbox] {transform: scale(1.5);}
  
	Button {
		background: $grey-25;
		border: none;
		color: $red;
		font-size: 20px;
		margin-top: 20px;
		padding: 5px 6px 3px;

		i {
			float: left;
			font-size: 28px;
		}

		p {
			margin: 0 28px 0 0;
		}
	}
}