@import '../../App.scss';

.form__log {
  background: $blue;
  border: 10px solid $yellow;
  border-radius: 0.25rem;
  padding: 10px;
  transform: scale(0.9);

  Button {
		background: $pink;
		border: none;
    color: $white;
    font-size: 17px;
  }
}