@import '../../App.scss';

.item__name {
  background: $red;
  border-radius: 8px;
  color: $white;
  font-size: 30px;
  height: 40px;
  line-height: 42px;
  text-align: center;
  overflow: hidden;
  word-break: unset;
  transition: all 0.2s ease-in;
  width: 0px;
  z-index: -1;
}

.item__name--show {
  padding: 2px;
  width: 150px;
  z-index: 1;
}