@import '../../App.scss';

.ctrl__back {
  background: $red;
  height: 150px;
  width: 150px;
  transition: all 0.3s ease, background 0.3s linear;
}

.ctrl__main {
  background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('../../assets/mati.jpg');
  height: 130px;
  width: 130px;
}
